@import '../../style.scss';

.item-detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100vw;
    padding-top: 15px;
    &__left{
        width: 60vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &--img{
            height:100%;
            max-height: 750px;
            max-width: 60vw;
        }
        &--description{
            font-family: 'Open Sans', sans-serif;
        }
    }
    &__right{
        width: 40vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        &--name{
            font-family: 'Nunito', sans-serif;
            font-size: 28px;
        }
        &--price{
            font-family: 'Nunito', sans-serif;
            font-size: 30px;
            color: $gs-red;
            font-weight: bold;
        }
        &__stock{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            height: 75px;
            &__top{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
            }
            &--text{
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
            }
            &--subtext{
                font-family: 'Open Sans', sans-serif;
                color: grey;
                font-size: 14px;
            }
            &--span{
                color: green;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                font-weight: bold;
            }
            &--icon{
                color: $gs-red;
                display: inline;
                margin-right: 8px;
                margin-bottom: 15px;
            }
        }
    }
    &--button{
        border: 1.5px solid $gs-red;
        border-radius: 5px;
        background-color: $gs-red;
        color: white;
        padding: 6px 10px;
        width: 15vw;
        transition: 0.15s ease-out;
        font-family: 'nunito', 'sans-serif';
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 1px;
        margin: 5px 0;
        &:hover{
            background-color: $gs-red-hover;
            border: 1.5px solid white;
        }
    }
}