@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap');

// font-family: 'Nunito', sans-serif;
// font-family: 'Open Sans', sans-serif;

$backgroung-color: #f2f4f7;
$backgroung-color-dark:#484f5d;
$backgroung-color-titles: #8790a2; //remove or change the name!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
$gs-red: rgb(236, 68, 68);
$gs-red-hover: rgb(228, 25, 25);

* {
    margin: 0px;
    padding: 0;
    box-sizing:border-box;
}