@import '../../style.scss';

.item-count{
    background-color: none;
    width: 50%;
    // height: 150px;
    border-radius: 5px;
    &__top{
        display: flex;
        justify-content: flex-start;
        &--text{
            margin: 15px 0 0px 15px;
            color: white;
        }
    }
    &__bottom{
        padding: 5px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 80%;
        flex-direction: column;
        align-items: center;
        &--button{
            border: 1.5px solid $gs-red;
            border-radius: 5px;
            background-color: $gs-red;
            color: white;
            padding: 6px 10px;
            width: 95%;
            transition: 0.15s ease-out;
            font-family: 'nunito', 'sans-serif';
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
            margin: 5px 0;
            &:hover{
                background-color: $gs-red-hover;
                // color: $gs-red-hover;
                border: 1.5px solid white;
            }
        }
    }
}

.counter{
    background-color: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 95%;
    border: $gs-red 2px solid;
    border-radius: 5px;
    &--button{
        color: $gs-red;
        font-size: 28px;
        background-color: rgba(0,0,0,0);
        border: none;
        font-family: 'nunito', 'sans-serif';
        font-weight: bold;
        margin: 0 5px;
        padding: 0 15px;
        transition: 0.35s ease-out;
        &:hover{
            color:$gs-red-hover;
            scale: 1.2;
        }
    }
    &--text{
        color: black;
        font-size: 20px;
        font-family: 'nunito', 'sans-serif';
    }
}